@import "./config";
@import "./admin";
@import "./home";
@import "./detail";

body {
  background: lighten($background-color, 10%);
}

.logo {
  width: 8rem;
}

main {
    &.row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
}